<div class="ms-3">
  <form action="/login" method="POST">

    <div class="mb-3 mt-3">
      <h1>Login</h1>
    </div>
    <div class="mb-3">
      <label>Username</label>
      <input name="username" class="form-control">
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" name="password" class="form-control">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="mb-3">
      <text>Don't have an account? </text><a href="/register">Register</a>
    </div>
  </form>

</div>