<div class="ms-3">
    <form action="/register" method="POST">
        <div class="mb-3 mt-3">
            <h1>Register</h1>
        </div>
        <div class="mb-3">
            <label>Username</label>
            <input name="username" class="form-control">
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input name="email" class="form-control">
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input name="password" class="form-control">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="mb-3">
            <text>Already have an account? </text><a href="/login">Login</a>
        </div>
    </form>
</div>