<script src="https://cdn.jsdelivr.net/npm/lightweight-charts@4.1.3/dist/lightweight-charts.standalone.production.js"></script>

<div id="lw_chart_{{index}}" style="height: 200px;"></div>
<script>
  (function() {
    const container = document.getElementById("lw_chart_{{index}}");
    const chart = LightweightCharts.createChart(container, {
      width: container.clientWidth,
      height: 200,
      layout: { background: { color: "transparent" } }
    });
    const series = chart.addCandlestickSeries();
    series.setData({{json ohlcData}});
    chart.timeScale().fitContent();
  })();
</script>